<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>Pagina1</li>
                <li>Pagina2</li>
                <li>Pagina3</li>
                <li>Pagina4</li>
                <li>Pagina5</li>
            </ul>
        </nav>
    </header>            
    <h1>
        Sono la view per l'action Index dell'Home controller
    </h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur velit saepe nemo natus dolore reiciendis suscipit esse architecto omnis eius, non necessitatibus nulla optio sit debitis vel? Quibusdam, dolores facere.</p>
    <p>Reiciendis dolore earum, doloribus quasi laborum expedita dolorum numquam accusamus fugit quo assumenda vitae nam totam asperiores fugiat cumque inventore nulla. Quas voluptatem necessitatibus dolorum. Dolores, provident? Ea, rem optio?</p>
    <p>Labore blanditiis quis voluptate excepturi consequuntur vero consectetur aperiam laudantium, cum ipsam repudiandae? Obcaecati optio a qui nisi doloremque quisquam dolorem magni cum alias nulla nam maiores, quod, iusto deserunt?</p>
    <p>Tenetur labore facere sint. Incidunt dolore quasi id autem accusantium corrupti quia omnis animi ducimus facere, a recusandae ratione commodi sapiente vero? Odio, possimus sed. Quidem repellendus dolor corrupti velit!</p>
    <p>Accusantium, a hic? Fuga autem cumque in accusamus iusto mollitia consequuntur adipisci ad non, voluptatem similique incidunt libero laborum error temporibus sunt. Nihil, amet totam possimus laboriosam enim magnam iste!</p>
    <footer>
        <p>contattaci al numero</p>
    </footer>
</body>
</html>         